.zigzag-line {
  animation: zigzag 5s infinite linear;
}

@keyframes zigzag {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(50px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
  }
}
